body{
    background-color: burlywood;
    margin: 0;
    padding: 0;
}

/* position */
.p1{
    background-color: darkgoldenrod;
    width: 800px;
    height: 800px;
}
.p2{background-color: wheat;
    border: 2px solid black;
    border-radius: 20px;
    width: 350px;
    height: 350px;
    position:relative;
    top: 400px;
    left: 400px;
}
.p3{background-color:antiquewhite;
    border: 2px solid black;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    position:relative;
    top: 25px;
    left: 25px;
}
.p4{background-color: wheat;
    border: 2px solid black;
    border-radius: 20px;
    width: 250px;
    height: 250px;
    position:relative;
    top: 25px;
    left: 25px;
}
.p5{background-color:antiquewhite;
    border: 2px solid black;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    position:relative;
    top: 25px;
    left: 25px;
}
.p6{background-color: wheat;
    border: 2px solid black;
    border-radius: 20px;
    width: 150px;
    height: 150px;
    position:relative;
    top: 25px;
    left: 25px;
}
.p7{background-color:antiquewhite;
    border: 2px solid black;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    position:relative;
    top: 25px;
    left: 25px;
}
.p8{background-color: wheat;
    border: 2px solid black;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    position:relative;
    top: 25px;
    left: 25px;
}
